<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Xtuff</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/web/add-produto}" method="post" >
                <fieldset>
                    <h1>Cadastre um produto</h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="nome" id="nome" class="form-control input-lg"
                               placeholder="Nome do produto" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="preco" id="preco" class="form-control input-lg"
                               placeholder="Preço" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="date" th:type="date" class="form-control" th:id="dataInsercao"
                               th:name="dataInsercao" placeholder="Data de inserção" required="true" autofocus="true"/>
                    </div>                    <div class="form-group">
                        <input type="date" th:type="date" class="form-control" th:id="dataValidade"
                               th:name="dataValidade" placeholder="Data de validade" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="quantidade" id="quantidade" class="form-control input-lg"
                               placeholder="quantidade" required="true" autofocus="true"/>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Salvar"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
