<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<a href="add-produto.html" th:href="@{/web/add-produto/}">Adicione um produto</a>
<div class="container">
    <table>
        <thead>
        <tr>
            <th> Id </th>
            <th> Nome </th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product: ${comerciante.loja.produtos}">
            <td th:text="${product.id}" />
            <td th:text="${product.nome}" />
            <td>
                <div class="btn-group pull-right">
                    <a class="btn btn-sm btn-primary" th:href="@{/web/edit-produto/{id}(id=${product.id})}" >Editar</a>
                    <!--<a class="delete btn btn-sm btn-danger" th:href="@{/produto-delete/{id}(id=${product.id})}">Excluir</a>-->
                </div>
            </td>
        </tr>
        </tbody>
    </table>



</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
